[user]
    name = Jacopo Giusti
    email = pcb060@protonmail.com

[push]
    autoSetupRemote = true

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[merge]
    conflictStyle = diff3
    ff = false

[pull]
    ff = only

[diff]
    colorMoved = default

[color]
    ui = auto

[init]                
    defaultBranch = main

[alias]
    alias = "!git config --get-regexp ^alias\\. | cut -c 7- | bat -f --style=header,grid,numbers --file-name='git alias'"

    l = log
    lf = log --first-parent
    lp = log --color --pretty=format:'%C(yellow)[ %h ] %Cgreen(%ad) %C(cyan)%an%Creset > %s%C(brightblack)%d' --date=format:'%Y-%m-%d %H:%M:%S'
    lps = lp -5
    lpm = lp -20
    lpl = lp -40
    lpg = lp --graph
    lpf = lp --first-parent
    ld = "!bash -c 'source ~/.myutils/functions_git.sh && git_log_diff' -"

    s = status

    a = add
    k = commit
    km = commit -m
    kam = commit -am
    kaa = commit --amend

    b = branch
    ba = branch -a
    bd = branch -D
    bb = "!bash -c 'source ~/.myutils/functions_git.sh && git_branch_blame' -"
    bm = branch --merged
    bn = branch --no-merged

    c = checkout
    cd = checkout develop
    cm = checkout main
    cb = checkout -b
    cs = smart-checkout

    f = fetch
    fp = fetch --prune
    fpo = fetch origin --prune
    p = pull
    pa = pull --all
    m = merge
    mf = merge --ff
    mnf = merge --no-ff
    mfo = merge --ff-only
    ps = push
    psf = push --force-with-lease
    pso = push origin
    psd = push origin --delete
    psdf = push origin --delete --force--with-lease
    
    d = diff
    dc = diff --cached
    dn = diff --name-only
    dns = diff --name-status
    sh = show
    shn = show --name-only
    shns = show --name-status

    sta = stash
    stal = stash list
    stas = stash show
    staa = stash apply
    stap = stash pop

    ch = cherry-pick
    chn = cherry-pick -n

    ri = rebase -i
    rif = "!bash -c 'source ~/.myutils/functions_git.sh && git_fast_interactive_rebase' -"

    re = restore
    res = restore --staged

    r = reset
    rs = reset --soft
    rh = reset --hard

    t = tag
    tl = tag --list
    td = tag --delete

    getdef = symbolic-ref --short refs/remotes/origin/HEAD
    setdef = remote set-head origin
