@define-color highlight #98971a;
@define-color gruvtext #ebdbb2;
@define-color base1 #3c3836;
@define-color base2 #32302f;
@define-color base3 #504945;

*{
    font-family: Rubik;
}

window {
    border: 1px solid @highlight;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border:none;
    color: @gruvtext;
}

#inner-box {
    background-color: @base3;
}

#outer-box {
    margin: 5px;
    padding:15px;
    background-color: @base2;
}

#text {
    padding: 5px;
    color: @gruvtext;
}

#entry:nth-child(even) {
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}
